<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.ync.mapper.MovieMemberMapper">
	
  	<resultMap type="kr.ync.domain.MovieMemberVO" id="memberMap">
		<id property="user_id" column="user_id"/>
		<result property="user_id" column="user_id"/>
		<result property="user_pwd" column="user_pwd"/>
		<result property="user_name" column="user_name"/>
		<result property="phone_num" column="phone_num"/>
		<result property="user_level" column="user_level"/>
		<collection property="auth" resultMap="authMap">
		</collection>
	</resultMap>
	
	<resultMap type="kr.ync.domain.AuthVO" id="authMap">
		<result property="user_id" column="user_id"/>
		<result property="auth" column="auth"/>
	</resultMap>
	
	<select id="read" resultMap="memberMap">
	SELECT	user_id,
			user_pwd,
			user_name,
			phone_num,
			user_level,
			auth
	FROM	members
	WHERE	user_id = #{user_id} 
	</select>
	
	<sql id="criteria">
		<trim prefix="(" suffix=") AND " prefixOverrides="OR">
			<foreach item='type' collection="typeArr">
				<trim prefix="OR">
					<choose>
						<when test="type == 'T'.toString()">
							title like '%'||#{keyword}||'%'
						</when>
						<when test="type == 'C'.toString()">
							content like '%'||#{keyword}||'%'
						</when>
						<when test="type == 'W'.toString()">
							writer like '%'||#{keyword}||'%'
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>
	</sql>
	
	<select id="getList" resultType="kr.ync.domain.MovieMemberVO">
	<![CDATA[
		select * from members
		]]>
	</select>
	
	<insert id="insert">
		insert into members (user_id, user_pwd, user_name, phone_num)
		values (#{user_id}, #{user_pwd}, #{user_name}, #{phone_num})
	</insert>
	
	<insert id="insertSelectKey">

		<selectKey keyProperty="bno" order="BEFORE"
			resultType="Long">
			select seq_board.nextval from dual
		</selectKey>

		insert into tbl_board (bno,title,content, writer, file_1, file_2, file_3)
		values (#{bno},
		#{title}, #{content}, #{writer}, #{file_1}, #{file_2}, #{file_3})
	</insert>
	


	<delete id="delete">
		delete member where user_id = #{user_id}
	</delete>
 
	<update id="update">
		update member
		set user_id = #{user_id},
			user_pwd = #{user_pwd},
			user_name = #{user_name},
			phone_num = #{phone_num},
			user_level = #{user_level}
		where user_id = #{user_id}
	</update>
	
	
	<select id="getTotalCount" resultType="int">
		select count(*) from tbl_board where 
		
		<include refid="criteria"></include>
		
		<![CDATA[
		bno > 0
		]]>
	</select>
	
	<update id="updateReplyCnt">
		UPDATE tbl_board SET replycnt = replycnt + #{amount} WHERE bno = #{bno}
	</update> 
</mapper>
